
<div class="container">
<form id="formulo" action="/postafile" method="POST" enctype="multipart/form-data">
 <input type="file" name="filename" id="file">
 <input type="submit" value="Submit" name="submit">
</form>
<img src="https://storage.googleapis.com/jmquilez/5a6e52c1-f12c-4a60-9254-a7ef62d781b4" alt="" srcset="">
</div>
