<!--<div class="container-fluid" style="margin:0px !important;">-->

<div class="container">
    <div class="card border-info mb-3" style="max-width: 100rem; padding: 1px; margin-top: 20px;">
        <div class="card-header">{{name}}</div>
        <div class="card-body">
            <h4 class="card-title">{{user_name}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    
</div>
</div>