<nav>
    <!--<h2>Logo</h2>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>-->
    <!--<div class="center-cropped" style="background-image: url({{pictureUrl}}); width: 100px;
        height: 100px;
        background-position: center center;
        background-repeat: no-repeat;">
    </div>-->
    <div class="header">
        <!--<img src={{banner}} alt="" srcset="" style="height: 100%; width: 100%; position: relative; object-fit:cover; margin-right: auto; margin-left:auto;">-->
    </div>
</nav>